@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bebas+Neue&display=swap');

body {
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    padding: 8px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar-brand a {
    color: #4CAF50;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.navbar-links a:hover {
    text-decoration: underline;
}

.about-section {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    animation: fadeIn 2s ease-in-out;
}

.about-section h1,
.about-section h2 {
    color: #4CAF50;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.about-section h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.about-section h2 {
    font-size: 1.8em;
    margin-top: 20px;
}

.about-section p,
.about-section ul {
    font-size: 1.2em;
    line-height: 1.6;
}

.about-section ul {
    padding-left: 20px;
}

.about-section ul li {
    margin-bottom: 10px;
}

.about-section ul li::before {
    content: '•';
    color: #4CAF50;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.footer-section {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    bottom: 0;
}

.footer-section p {
    margin: 0.5rem 0;
}

.footer-section a {
    color: #4CAF50;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar-links a {
        font-size: 19px;
    }

    .navbar-brand a {
        font-size: 22px;
    }

    .about-section h1 {
        font-size: 1.5em;
        margin-bottom: 20px;
    }
    
    .about-section h2 {
        font-size: 1.2em;
        margin-top: 20px;
    }
    
    .about-section p,
    .about-section ul {
        font-size: 1em;
        line-height: 1.6;
    }
    
}
