@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bebas+Neue&display=swap');

body {
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    padding: 8px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar-brand a {
    color: #4CAF50;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.navbar-links a:hover {
    text-decoration: underline;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: white;
}

.navbar.dark-mode {
    background-color: #333;
    color: white;
}

.dark-mode-toggle {
    background-color: #45a049;
    color:white;
    border: none;
    border-radius: 0.3rem;
    margin-left: 1rem;
    padding: 5px 10px;
    cursor: pointer;
}

.dark-mode .dark-mode-toggle {
    background-color:#45a049;
    color: white;
}

.dark-mode #results-container {
    border: 0.5px solid #7a7a7a33;
    box-shadow: 0 4px 10px #7a7a7a33;
}

.dark-mode #results-container h3 {
    color: white;
}

.dark-mode #map {
    box-shadow: 0 4px 10px rgba(163, 163, 163, 0.4);
}

.dark-mode #reviewSection {
    background-color: #121212;
    border: 1px solid #464545;
}

.container-topic {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    text-align: center;
    margin-bottom: 40px;
}

.section h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    color: #4CAF50;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}

.section p {
    font-size: 1.7rem;
    color: #666;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}

.input {
    padding: 10px;
    margin: 10px 0;
    width: 20rem;
    max-width: 50rem;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.button {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s;
}

.button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

#controls {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#search-button {
    margin-left: 0.5rem;
}

#map {
    height: 500px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content {
    display: flex;
}

#results-container {
    width: 25rem;
    height: fit-content;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 3rem;
    margin-top: 1.25rem;
}

#results-container h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #333;
}

#results {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#results li {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}


.primary-button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s;
}

.view-toggle {
    padding: 0.4rem;
    border-radius: 0.2rem;
    margin: 10px 0 0 10px;
    border: none;
}

.primary-button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

.hidden {
    display: none;
}

#reviewSection {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.review {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.star-rating {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.star {
    font-size: 2rem;
    cursor: pointer;
    color: lightgray;
    transition: color 0.2s, transform 0.2s;
    margin: 0 5px;
}

.star:hover,
.star.hover,
.star.selected {
    color: gold;
    transform: scale(1.2);
}

#ratingValue {
    margin: 10px 0;
    font-size: 1.2rem;
}

.footer-section {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.footer-section p {
    margin: 5px 0;
    font-size: 14px;
}

.footer-section a {
    color: #4CAF50;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {

    .navbar-links a {
        font-size: 19px;
    }

    .navbar-brand a {
        font-size: 22px;
    }

    .main-content {
        flex-direction: row;
    }

    #map {
        width: 21.5rem;
        height: 22rem;
    }

    #results-container {
        width: 19rem;
        height: fit-content;
        text-align: center;
        margin-top: 1rem;
        margin-left: 1.5rem;
    }

}

@media (max-width: 700px) {

    .main-content {
        display: flex;
        flex-direction: column;
    }

    #results-container {
        width: 19rem;
        text-align: center;
        margin-top: 1rem;
        margin-left: 0.8rem;
    }

    .input {
        width: 13rem;
    }
    
}